/* Fonts */
@font-face {
  font-family: Moderata;
  src: url(../fonts/Moderata-Light.woff2);
}

@font-face {
  font-family: Moderata;
  src: url(../fonts/Moderata.woff2);
  font-weight: bold;
}

/* Tailwind */
@tailwind base;
@layer base {
  body,
  html {
    font-family: Moderata;
    font-size: 16px;
  }

  h1 {
    @apply text-4xl mb-12 font-bold;
  }

  h2 {
    @apply text-3xl mt-10 mb-4 font-bold;
  }

  h3 {
    @apply text-xl mt-10 mb-4 font-bold;
  }

  p {
    @apply mb-3;
  }

  a {
    color: #7217bd;
  }

  a:hover {
    text-decoration: none !important;
  }
}

@tailwind components;
@tailwind utilities;

/* Header */
header {
  background-color: #532f70;
  font-size: 17px;

  @apply text-white;
}

header a:not(:hover) {
  color: white !important;
}

header a {
  @apply px-4;
  @apply py-2;
  @apply font-bold;
}

/* Footer */
footer {
  background-color: rgb(52, 23, 75);
  @apply text-white;
}

footer a {
  color: white !important;
}

/* Menu */
.submenu > ul > a {
  @apply ml-4;
  @apply rounded-l-md;
}
