/* Fonts */
@font-face {
  font-family: Moderata;
  src: url(../fonts/Moderata-Light.woff2);
}

@font-face {
  font-family: Moderata;
  src: url(../fonts/Moderata.woff2);
  font-weight: bold;
}

/* Tailwind */
@tailwind base;
@layer base {
  body,
  html {
    font-family: Moderata;
    font-size: 16px;
  }

  h1 {
    @apply text-4xl mb-14 font-bold;
  }

  h2 {
    @apply text-2xl mt-14 mb-4 font-bold;
  }

  h3 {
    @apply text-xl font-bold;
  }

  .mdx-content h2 {
    @apply border-b border-gray-200 pb-3;
  }

  .mdx-content h3 {
    @apply mt-10 mb-4;
  }

  p {
    @apply mb-3;
  }

  a {
    color: #7217bd;
  }

  a:hover {
    text-decoration: none !important;
  }

  main ul {
    @apply list-disc;
    @apply list-inside;
    @apply space-y-2;
    @apply mb-4;
    @apply ml-4;
  }

  pre,
  code {
    font-size: 1rem;
    font-family: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
  }

  table {
    @apply min-w-full divide-y divide-gray-200 table-fixed;
  }

  table thead th {
    @apply px-4 py-3 text-left text-sm font-medium text-gray-500 uppercase tracking-wider;
  }

  table tbody tr:nth-child(even) {
    @apply bg-gray-50;
  }

  table tbody td {
    @apply p-4 text-sm;
  }
}

@tailwind components;
@tailwind utilities;

/* Header */
header {
  background-color: #532f70;
  font-size: 17px;

  @apply text-white;
}

header a:not(:hover) {
  color: white !important;
}

header a {
  @apply px-4;
  @apply py-2;
  @apply font-bold;
}

header a.main-button {
  color: #532f70 !important;
  @apply bg-white rounded-md;
}

a.mobile-signup-button {
  background-color: #532f70 !important;
  color: white !important;
  @apply rounded-md py-3 px-6 font-bold;
}

/* Footer */
footer {
  background-color: rgb(52, 23, 75);
  @apply text-white;
}

footer a {
  color: white !important;
}

/* Search (algolia) */
/* This class was set manually at https://www.algolia.com/apps/HV8SJIDSDY/explorer/configuration/docs/highlighting */
em.highlight {
  @apply bg-blue-100 text-gray-900 px-1 rounded-sm;
  font-style: inherit;
}

img.full-mobile {
  margin: 2rem 0;
}
